.alerta {
    margin: 50px auto;
    width: 60%;
    background: #fffbee;
    color: #c62828;
    border: 2px solid #c62828;
    border-radius: 8px;
    padding: 24px;
    font-size: 22px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.aboton {
    background-color: #1976d2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px;
    position: relative;
    left: 46%;
}

.aboton:hover {
    background-color: #0d47a1;
}

body {
    background-color: rgba(152, 155, 173, 0.28);
    color: #333;
}